* {
    margin: 0;
    padding: 0;
}

body {
  line-height: 26px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

/* ==================Conteudo Main title css============================== */
.main_title h2 {
  font-size: 40px;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  color: #232d37;
  font-weight: 500;
}

.main_title p {
  font-size: 16px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  padding-top: 15px;
}

.center_title {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

.center_title h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.center_title p {
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  padding-top: 10px;
}

.b_center_title {
  text-align: center;
  padding-bottom: 50px;
}

.b_center_title h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #232d37;
}

.b_center_title p {
  font-size: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  padding-top: 10px;
  color: #51545f;
}
/* ==================Conteudo Main title css============================== */


/* ==================Componente NavBar css============================== */
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #009688  !important; /* cor prymatia*/
    background-color: #fff !important;
    border-radius: 10px;
}
.LogoLog {
  border-radius:30px ;
  font-size:20px;
  font-family: "Poppins", sans-serif;
}
/* ==================Componente NavBar css============================== */

/* ==================Componente Banner Home css============================== */
.banner_area {
  background: url(../img/Paisagem.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 115px 0px;
  height: 700px;
}
.banner_contato {
  background: url(../img/slider-1.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 115px 0px;
}

.banner-heading > h2 {
    font-size: 100px;
    color: #ffffff;
    font-weight: 500;
    position: relative;
    z-index: 3;
}
.banner-heading > p {
    color: #fff;
}
.banner-heading > h3 {
    font-size: 332px;
    position: absolute;
    top: -134px;
    font-weight: 900;
    left: -12px;
    z-index: -1;
    color: #fff;
    opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}
.texto-banner{
  font-size: 30px;
}

/* ==================Componente Banner Home css============================== */


/* ==================Pagina Home css============================== */
.creative_feature_area {
  background: #f7f7f7;
}

.c_feature_box {
  -webkit-box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
  box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
  border-radius: 2px;
  background: #fff;
  padding: 45px 0px;
  margin-top: -100px;
  z-index: 22;
  position: relative;
}

.c_feature_box .col-lg-4:last-child .c_box_item:before {
  display: none;
}

.c_box_item {
  padding: 0px 35px 0px 40px;
  position: relative;
}

.c_box_item:before {
  content: "";
  background: #e5e5e5;
  height: 145px;
  width: 1px;
  position: absolute;
  right: -15px;
  top: 0px;
}

.c_box_item h4 {
  font-size: 20px;
  color: #232d37;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 10px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.c_box_item h4 i {
  padding-right: 10px;
  color: #2bc0a4;
}

.c_box_item h4:hover {
  color: #2bc0a4;
}

.c_box_item p {
  font-size: 14px;
  line-height: 26px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
}
.digital_feature{
  margin-top: 50px;
}
.d_feature_text .main_title {
  padding-bottom: 20px;
}

.d_feature_text p {
  font-size: 14px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  padding-bottom: 12px;
}

.d_feature_text p + p {
  padding-bottom: 0px;
}

.d_feature_text .read_btn {
  margin-top: 34px;
}

.d_feature_img {
  padding-left: 70px;
}
/* ==================Pagina Home css============================== */

/* ==================Pagina Sobre css============================== */
.latest_news_area{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.l_news_item {
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}
.l_news_item .l_news_img {
  overflow: hidden;
}
.l_news_item .l_news_img a {
  display: block;
}
.l_news_item .l_news_img img {
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}
.l_news_item .l_news_img img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.l_news_item .l_news_content {
  border: 1px solid #ebebeb;
  border-top: 0px;
  padding: 30px 35px;
}
.l_news_item .l_news_content h4 {
  font-size: 18px;
  color: #232d37;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}
.l_news_item .l_news_content h4:hover {
  color: #2bc0a4;
}
.l_news_item .l_news_content p {
  font-size: 14px;
  line-height: 26px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 15px 0px 10px 0px;
}
.l_news_item:hover {
  -webkit-box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
  box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
}
/* ==================Pagina Sobre css============================== */

/* ==================Componente Banner Sevico css============================== */

.service_area {
  margin-top: 50px;
  background: url(../img/service-bg.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 115px 0px;
}

/* ==================Componente Banner Sevico css============================== */

/* ==================Pagina Sevico css============================== */
.service_area:before {
  content: "";
  background: rgba(4, 8, 29, 0.7);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.service_item {
  text-align: center;
  color: #fff;
}

.service_item i {
  background-image: -moz-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  background-image: -webkit-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  background-image: -ms-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
}

.service_item h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 18px 0px 12px 0px;
}

.service_item p {
  font-size: 17px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
  max-width: 360px;
  margin: auto;
}
/* ==================Pagina Sevico css============================== */

/* ==================Plano de servico Css============================== */
.pricing-plane-area {
    background: #f5f9fc;
}

.titulo >h2{
  color: #5b32b4;
  margin: 30px;
  font-size:50px;

}
.single-price-plan {
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 30px 30px 30px 0;
    margin-bottom: 30px;
}

.single-price-plan .package-plan {
    padding: 70px 0;
    border-radius: 30px 30px 0 0;
}

.single-price-plan .package-plan > h5 {
    color: #5b32b4;
    font-size: 18px;
}


.single-price-plan .package-plan .ca-price h4 {
    color: #fb397d;
    font-size: 48px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    line-height: 1;
}

.single-price-plan .package-plan .ca-price span {
    font-size: 18px;
    color: #fb397d;
}

.single-price-plan .plan-button > a {
    background: #726a84;
    padding: 15px 0;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-price-plan .package-description > p {
    margin-bottom: 0;
    line-height: 1;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}

.single-price-plan .package-description > p:first-child {
    border-top: 1px solid #ebebeb;
}

.single-price-plan:hover .package-plan,
.single-price-plan:hover .plan-button > a,
.single-price-plan:hover .plan-button > a {
    background-color: #a865e1;
}

.single-price-plan:hover .package-plan .ca-price > h4,
.single-price-plan:hover .package-plan .ca-price > span,
.single-price-plan:hover .package-plan > h5,
.single-price-plan:hover .plan-button > a {
    color: #fff;
}

/* ==================Plano de servico Css============================== */


/* ==================Componente Banner Contato css============================== */
.banner_contato {
  background: url(../img/slider-1.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 115px 0px;
}
}
.banner_contato:before {
  content: "";
  background: rgba(4, 8, 29, 0.7);
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner_text_inner {
  text-align: center;
  position: relative;
  padding-top: 200px;
}
.banner_text_inner h4 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
}
.banner_text_inner h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
}
.banner_text_inner ul li {
  display: inline-block;
  margin-right: 15px;
}
.banner_text_inner ul li a {
  color: #fff;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}
.banner_text_inner ul li a i {
  position: relative;
  left: -10px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.banner_text_inner ul li:hover a {
  color: #2bc0a4;
}

.banner_text_inner h5 {
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
/* ==================Componente Banner Contato css============================== */

/* ==================Pagina Contato css============================== */
.contact_us_area {
  background: #e4e4d9;
  padding: 10px 0px;
}
.mapBox {
  min-height: 520px;
  -webkit-box-shadow: 0px 27px 51.33px 7.67px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 27px 51.33px 7.67px rgba(0, 0, 0, 0.15);
}
.contact_details_inner {
  padding-top: 75px;
}
.contact_text .contact_d_list {
  margin-top: 40px;
}
.contact_text .contact_d_list .contact_d_list_item {
  margin-bottom: 22px;
}
.contact_text .contact_d_list .contact_d_list_item a {
  font-size: 16px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  display: block;
}
.contact_text .contact_d_list .contact_d_list_item p {
  font-size: 16px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  display: block;
  line-height: 24px;
}
.contact_text .contact_d_list .contact_d_list_item:last-child {
  margin-bottom: 0px;
}
.contact_text .static_social {
  margin-top: 40px;
}
.contact_text .static_social .main_title {
  padding-bottom: 25px;
}
.contact_text .static_social ul li {
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 0px;
}
.contact_text .static_social ul li:last-child {
  margin-right: 0px;
}
.contact_form .main_title {
  padding-bottom: 40px;
}
.contact_us_form .form-group {
  margin-bottom: 20px;
}
.contact_us_form .form-group input {
  height: 50px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  padding: 0px 20px;
  font-size: 16px;
  color: #7f7f7f;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group input.placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group input:-moz-placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group input::-moz-placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group input::-webkit-input-placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group input:focus {
  border-color: #7f7f7f;
}
.contact_us_form .form-group textarea {
  height: 80px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
  color: #7f7f7f;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.contact_us_form .form-group textarea.placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group textarea:-moz-placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group textarea::-moz-placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
}
.contact_us_form .form-group textarea:focus {
  border-color: #7f7f7f;
}
.contact_us_form .form-group:last-child {
  margin-bottom: 0px;
  margin-top: 10px;
}
/* ===================Contato css============================== */

/* ===================Dashboard  css============================== */
.Dashboard{
  margin: 100px;
}
/* ===================Dashboard  css============================== */

/* ===================Entrar-log  css============================== */
.Entrar-log{
    margin: 130px;
}

/* ===================Entrar-log css============================== */

/* ===================projeto-detalhe  css============================== */
.projeto-detalhe{
    margin: 120px;
}
/* ===================projeto-detalhe  css============================== */

/* ===================cadastro-log css============================== */
.cadastro-log{
    margin: 120px;
}
/* ===================cadastro-log css============================== */


/* ==================Componente Footer css============================== */
.footer-social{
background: linear-gradient(to right, #dad299, #b0dab9);
padding: 5px 0px;
}
.footer-text > h2 {
    color: #5b32b4;
    font-size: 72px;
    font-weight: 700;
}

.footer-social-icon > a > i {
    background: #9b69e4;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 10px 10px 10px 0px;
    margin-right: 10px;
}

.footer-social-icon > a > i:hover {
    background: #fb397d;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.social-icon {
    margin-bottom: 30px;
}

.footer-text {
    margin-bottom: 15px;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    border-right: 2px solid #726a84;
    display: block;
    padding: 0 7.5px;
    color: #000;
}
.footer-social-icon > a .active {
    background: #fb397d;
}

.footer-menu ul li:last-child a {
    border-right: 0 solid #ddd;
}

.footer-social-icon {
    margin-bottom: 40px;
}

.footer-menu {
    margin-bottom: 15px;
}

.copyright-text > p {
    margin-bottom: 0;
}
/* ==================Componente Footer css============================== */


/* ====================Componente Button secundary css==================== */
.btn-secondary {
  height: 46px;
  width: 160px;
  text-align: center;
  line-height: 48px;
  color: #232d37;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff));
  background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  position: relative;
  background-size: 200% auto;
  z-index: 2;
  display: block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/* ====================Componente Button secundary css==================== */


/*======================= Componente Border Button css======================= */
.read_btn {
  height: 46px;
  width: 160px;
  line-height: 48px;
  color: #232d37;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff));
  background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  text-align: center;
  position: relative;
  background-size: 200% auto;
  z-index: 2;
  display: block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.read_btn:before {
  content: "";
  background: #f7f7f7;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 98%;
  height: 42px;
  z-index: -1;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.read_btn:hover {
  background-position: right center;
  color: #232d37;
}

.tp_btn {
  height: 46px;
  width: 165px;
  text-align: center;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  border-image: -moz-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  -webkit-border-image: -webkit-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  border-image: -webkit-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  border-image: -ms-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  border-image-slice: 1;
  display: block;
  line-height: 42px;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  z-index: 3;
  margin: auto;
}

.tp_btn:after {
  content: "";
  height: 46px;
  width: 165px;
  position: absolute;
  left: -2px;
  top: -2px;
  border-width: 2px;
  border-style: solid;
  border-image: -moz-linear-gradient(180deg, #744fff 0%, #20d497 100%);
  -webkit-border-image: -webkit-linear-gradient(180deg, #744fff 0%, #20d497 100%);
  border-image: -webkit-linear-gradient(180deg, #744fff 0%, #20d497 100%);
  border-image: -ms-linear-gradient(180deg, #744fff 0%, #20d497 100%);
  border-image-slice: 1;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  z-index: -1;
  opacity: 0;
}

.tp_btn:hover {
  color: #fff;
}

.tp_btn:hover:after {
  opacity: 1;
}

.bg_btn {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 160px;
  height: 46px;
  line-height: 46px;
  background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff));
  background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  -webkit-transition: all 400ms ease-out !important;
  -o-transition: all 400ms ease-out !important;
  transition: all 400ms ease-out !important;
  background-size: 200% auto;
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

.bg_btn:hover {
  background-position: right center;
  color: #fff;
}

.bg_btn:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff)) !important;
  background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%) !important;
  background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%) !important;
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%) !important;
  -webkit-transition: all 400ms ease-out !important;
  -o-transition: all 400ms ease-out !important;
  transition: all 400ms ease-out !important;
  background-size: 200% auto;
}

.more_btn {
  color: #2bc0a4;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  line-height: 26px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.more_btn:hover {
  text-decoration: none;
  color: #2bc0a4;
}

.submit_btn {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 0px 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff));
  background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  background-size: 200% auto;
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 3px;
  cursor: pointer;
}

.submit_btn:hover {
  background-position: right center;
  color: #fff;
}

.submit_btn:focus {
  background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff)) !important;
  background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%) !important;
  background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%) !important;
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%) !important;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  background-size: 200% auto;
}

.submit_btn2 {
  height: 46px;
  width: 165px;
  line-height: 46px;
  color: #232d37;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#744fff), color-stop(51%, #21d397), to(#744fff));
  background-image: -webkit-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: -o-linear-gradient(left, #744fff 0%, #21d397 51%, #744fff 100%);
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  text-align: center;
  position: relative;
  background-size: 200% auto;
  z-index: 2;
  display: block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  padding: 0px;
  border-radius: 2px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer;
}

.submit_btn2:before {
  content: "";
  background: #f7f7f7;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 97.5%;
  height: 40px;
  z-index: -1;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.submit_btn2:hover {
  background-position: right center;
  color: #232d37;
}
/*======================= Componente Border Button css======================= */
